<div class="slice h-clearfix slice-pagination">
 <div class="l-col-10 l-content">
   <div class="flippy" id="test">
     {% if first %}
       <div class="l-col-5 l-padding">
           <div class="button pagination prev">{{ first }}</div>
       </div>
     {% endif %}
     {% if prev %}
       <div class="l-col-5 l-padding">
           <div class="button pagination prev">{{ prev }}</div>
       </div>
     {% endif %}
     {% if random %}
       <div class="l-col-5 l-padding">
           <div class="button pagination next">{{ random }}</div>
       </div>
     {% endif %}
     {% if next %}
       <div class="l-col-5 l-padding">
           <div class="button pagination next">{{ next }}</div>
       </div>
     {% endif %}
     {% if last %}
       <div class="l-col-5 l-padding">
           <div class="button pagination next">{{ last }}</div>
       </div>
     {% endif %}
   </div>
 </div>
</div>